@import './shared_styles.scss';

.top-container {
    width: vw(100);
    height: vh(100);
    display: flex;
    flex-direction: column;

    .page-header-and-filters-container {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        align-self: center;

        .page-header {
            @extend .page-header-styles;
        }

        .filters-container {
            flex-direction: row;
            width: 74vw;
            align-self: center;
            background-color: lightblue;

            .showFilters-button {
                background-color: #4da2cf;
                padding: 1vw 0;
                display: flex;
                justify-content: space-around;
                width: 100%;
                font-size: 3rem;
                text-align: center;
                font-family: 'Ropa Sans', sans-serif;
                &:hover {
                    background-color: rgb(69, 163, 194);
                    cursor: pointer;
                }
                @media only screen and (min-device-width: 415px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .back-to-top {
        background-color: #4da2cf;
        opacity: 0.0;
        color: white;
        position: fixed;
        padding: 3vw;
        bottom: 15vw;
        right: 8vw;
        font-size: 3rem;
        border-radius: 30px;
        @media only screen and (min-device-width: 415px) {
            font-size: 1.5rem;
            padding: 1vw;
            bottom: 6vw;
            right: 2vw;
        }
    }

    .active {
        animation-name: fadeIn;
        animation-duration: 3s;
        opacity: 1.0;
        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity:1.0}
}

